[submodule "test/bats/assert"]
	path = test/bats/assert
	url = git@github.com:bats-core/bats-assert.git
[submodule "test/bats/core"]
	path = test/bats/core
	url = git@github.com:bats-core/bats-core.git
[submodule "test/bats/support"]
	path = test/bats/support
	url = git@github.com:bats-core/bats-support.git
[submodule "test/bats/file"]
	path = test/bats/file
	url = git@github.com:bats-core/bats-file.git
